{% extends 'base.html' %} 
{% block title %} 
{{ block.super }} :: {{ title }} 
{%endblock %} 
{% block content %} 
{% load static %}
<section class="bg-text-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="bg-text">
          <h3>Classic BLOG Design</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="blog-post-area">
  <div class="container">
    <div class="row">
      <div class="blog-post-area-style">
        {% if pinned_post %}
        <div class="col-md-12">
          <div class="single-post-big">
            <div class="big-image">
              <img src="{{pinned_post.photo.url}}" alt="" />
            </div>
            <div class="big-text">
              <h3><a href="{{pinned_post.get_absolute_url}}">{{pinned_post.title}}</a></h3>
              <p>{{pinned_post.content|truncatewords_html:60|safe}}</p>
              <h4>
                <span class="date">{{ pinned_post.created_at|date:"f d.m.Y" }}</span
                ><span class="author"
                  >Posted By: <span class="author-name">{{ pinned_post.author}}</span></span
                >
              </h4>
            </div>
          </div>
        </div>
        {% endif %}
        {% for post in posts %}
        <!--This if aligns rows in posts-->
        {% if forloop.counter0 == 0 or forloop.counter0 == 4 %}
        <div class="row">
        {% endif %}
          <div class="col-md-3">
            <div class="single-post">
              {% if post.photo %}
              <img src="{{ post.photo.url }}" alt="" />
              {% else %}
              <img
                src="https://picsum.photos/285/191?blur=2"
                alt="Default Photo"
                width="285"
              />
              {% endif %}
              <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
              <h4>
                <span
                  >Posted By:
                  <span class="author-name">{{ post.author }}</span></span
                >
              </h4>
              <p>{{ post.content|truncatewords_html:20|safe }}</p>
              <h4><span>{{ post.created_at|date:"f d.m.Y" }}</span></h4>
            </div>
          </div>
          {% if forloop.counter0 == 3 or forloop.counter0 == 7 or forloop.last %}
        </div>
        {% endif %} 
        {% endfor %}
      </div>
    </div>
  </div>
{% include 'inc/_pagination.html' %}
</section>

{% endblock %}
